@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);
@import url(https://fonts.googleapis.com/css?family=Muli:200,400,700|Raleway:200,400,700&display=swap);
*,
::after,
::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: Raleway, serif;
  color: #3f4652;
}

.container {
  width: calc(100vw - 18px);
  max-width: 1600px;
  margin: 0 auto;
}

.post {
  opacity: 0;
  transition: 1s linear;
}

.post.active {
  opacity: 100;
}

.post.deactive {
  height: 0;
  overflow: hidden;
}

.section_title {
  font-size: 36px;
  color: #3f4652;
  margin: 40px 0;
  text-transform: uppercase;
  font-family: Muli, serif;
  letter-spacing: 3px;
  position: relative;
}

.section_title::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: "";
  width: 100px;
  height: 3px;
  background: #3f4652;
  border-radius: 25px;
  bottom: -20px;
}

.article_title {
  font-family: Muli, serif;
  font-size: 24px;
  color: #3f4652;
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  font-family: Muli, serif;
  letter-spacing: 2px;
}

.description {
  padding: 20px;
  text-align: justify;
}

.center {
  text-align: center;
}

span {
  font-weight: 700;
}

.linear {
  position: relative;
  margin-bottom: 40px;
}

.linear::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: "";
  width: 40%;
  height: 2px;
  opacity: 80;
  border-radius: 25px;
  bottom: -10px;
}

.linear_one::after {
  background: white;
  background: linear-gradient(90deg, white 0%, #3f4652 50%, white 100%);
}

.linear_two::after {
  background: #d2b382;
  background: linear-gradient(90deg, #d2b382 0%, white 50%, #d2b382 100%);
}

.list_item {
  display: inline;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  line-height: 1.2;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Muli, serif;
  color: #3f4652;
}

i {
  color: #3f4652;
}

.space {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.stroke {
  position: relative;
  z-index: 0;
}

.stroke::before {
  position: absolute;
  content: attr(content);
  -webkit-text-stroke: 4px #3f4652;
  z-index: -1;
  left: 0;
  width: 100%;
}

.row,
.navigation,
.splash,
.posts,
.footer,
.list_menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.six {
  -ms-flex: 0 0 60%;
      flex: 0 0 60%;
}

.three {
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
}

.three_second {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
}

.four {
  -ms-flex: 0 0 40%;
      flex: 0 0 40%;
}

.two {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
}

.one {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
}

.background_one {
  background: url("../images/background_1_optimized.jpg");
}

.background_two {
  background: url("../images/background_2_optimized.jpg");
}

.background_three {
  background: url("../images/background_3_optimized.jpg");
}

.background_four {
  background: url("../images/background_4_optimized.jpg");
}

.background_five {
  background: url("../images/background_5_optimized.jpg");
}

.background_six {
  background: url("../images/background_6_optimized.jpg");
}

.background_seven {
  background: url("../images/background_7_optimized.jpg");
}

.background_eight {
  background: url("../images/background_8_optimized.jpg");
}

.background_nine {
  background: url("../images/background_9_optimized.jpg");
}

.background_ten {
  background: url("../images/background_10_optimized.jpg");
}

.background {
  background-position: no-repeat center top;
  background-size: 100%;
  width: 100%;
  height: 250px;
  background-size: cover;
  background-attachment: fixed;
  margin: 40px 0 50px 0;
}

.logo_menu {
  background: #b6c4cd;
  position: relative;
  height: 100px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  height: 300px;
  width: 300px;
  border: 3px solid #3f4652;
  border-radius: 50%;
  background: #f8f1e1;
}

.page_title {
  position: absolute;
  text-transform: uppercase;
  font-family: Roboto Slab, serif;
  font-size: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 3px;
}

.stroke {
  position: relative;
  z-index: 0;
}

.stroke::before {
  position: absolute;
  content: attr(data-content);
  -webkit-text-stroke: 4px #3f4652;
  z-index: -1;
  width: 100%;
  left: 0;
}

.page_subtitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 28px;
  text-transform: uppercase;
  font-family: Muli, serif;
}

.up {
  top: 15%;
}

.down {
  top: 75%;
}

.nav_menu {
  height: 310px;
}

.list_menu {
  padding-top: 250px;
}

.menu_item a {
  position: relative;
  color: #3f4652;
  font-size: 28px;
  font-weight: 700;
}

.menu_item a:hover::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #3f4652;
  bottom: -6px;
}

.menu_item a.active::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background: #3f4652;
  bottom: -6px;
}

.splash_one {
  background: url("../images/header_background_optimized.jpg");
  background-position: center bottom;
}

.splash_two {
  background: url("../images/header_background_2_optimized.jpg");
  background-position: center bottom;
}

.splash_three {
  background: url("../images/header_background_3_optimized.jpg");
  background-position: center center;
}

.splash_image {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  padding: 0 10px;
}

.splash_image h2 {
  font-family: Roboto Slab, serif;
  text-transform: uppercase;
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
}

.splash_image h2:first-child {
  margin-top: 150px;
  margin-bottom: 50px;
}

footer {
  background: #b6c4cd;
}

.social_media {
  padding: 20px;
}

.social_item {
  margin: 0 20px;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.privacy,
.copyright {
  padding: 30px 0 10px 30px;
}

.card {
  margin: 5px 0;
}

.card_margin {
  margin: 5px 0.5%;
}

.image {
  overflow: hidden;
  position: relative;
  height: 400px;
}

.image img {
  transition: all 1s;
  position: relative;
  z-index: 1;
}

.image::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: #84817a;
  opacity: 0.3;
  z-index: 0;
}

.image:hover img {
  transform: scale(2);
}

.image:hover::before {
  z-index: 2;
}

.order {
  background-color: #d2b382;
  color: #fff;
  text-align: center;
}

.order_margin {
  margin: 0 0.5%;
}

.order_icon {
  margin-bottom: 15px;
  font-size: 34px;
}

.data {
  background-color: #d2b382;
}

.data span {
  color: #3f4652;
}

.data_description {
  color: #fff;
  padding: 50px 20px 0 30px;
  font-size: 20px;
}

.map {
  width: 90%;
  height: 150px;
  margin-bottom: 30px;
}

label {
  display: block;
  padding: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #3f4652;
}

input {
  margin: 5px 0 15px 20px;
  padding: 5px;
  width: 90%;
  font-size: 12px;
  outline: none;
}

input:focus {
  border: 2px solid #3f4652;
}

textarea {
  margin: 5px 20px;
  padding: 5px;
  width: 95%;
  height: 100px;
  resize: none;
  outline: none;
}

textarea:focus {
  border: 2px solid #3f4652;
}

button {
  border-radius: 10px;
  border: 2px solid #3f4652;
  margin: 10px 0 30px 20px;
  width: 180px;
  height: 40px;
  background-color: #fff;
  color: #3f4652;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  background: #3f4652;
  color: #fff;
}

.required {
  color: #84817a;
  font-size: 10px;
  font-weight: 400;
  margin: 0 0 0 20px;
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .section_title {
    font-size: 24px;
  }
  .section_title::after {
    height: 2px;
    bottom: -10px;
    width: 60px;
  }
  .background {
    height: 200px;
    margin: 10px 0 20px 0;
  }
  .logo {
    height: 200px;
    width: 200px;
    border: 2px solid #3f4652;
  }
  .page_title {
    font-size: 26px;
  }
  .page_subtitle {
    font-size: 18px;
  }
  .nav_menu {
    height: 230px;
  }
  .list_menu {
    padding-top: 135px;
  }
  .menu_item {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-bottom: 10px;
  }
  .menu_item a {
    font-size: 20px;
  }
  .menu_item a:hover::after {
    bottom: -2px;
  }
  .menu_item a.active::after {
    bottom: -2px;
  }
  .splash_image {
    height: 300px;
  }
  .splash_image h2:first-child {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .splash_image h2 {
    font-size: 20px;
  }
  .data {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .data_description {
    padding: 25px 10px 0 15px;
    font-size: 14px;
  }
  .form {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .input {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  label {
    font-size: 12px;
  }
  input {
    font-size: 6px;
  }
  textarea {
    width: 90%;
  }
  button {
    margin: 15px auto;
  }
  .margin {
    margin: 0 auto;
  }
  .order {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    margin-top: 5px;
  }
  .gallery_card {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .copyright {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .privacy {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .social_media {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    text-align: center;
    -ms-flex-order: -1;
        order: -1;
  }
  .social_item {
    margin: 0 10px;
  }
}

@media (max-width: 1024px) {
  .menu_item {
    margin-bottom: 5px;
  }
  .menu_item a {
    font-size: 24px;
  }
  .data {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .data_description {
    padding: 25px 10px 0 15px;
    font-size: 14px;
  }
  .form {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  .input {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
  }
  label {
    font-size: 12px;
  }
  input {
    font-size: 6px;
  }
  textarea {
    width: 90%;
  }
  button {
    margin: 15px auto;
  }
  .margin {
    margin: 0 auto;
  }
  .copyright {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .privacy {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
  }
  .social_media {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    text-align: center;
    -ms-flex-order: -1;
        order: -1;
  }
  .social_item {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */